{% extends "template.html" %}

{% block title %}Retenciones{% endblock %}

{% block style %}
body {
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}
{% endblock %}

{% block content %}
<form class="custom-video booking-form text-center" action="generar/{{ data._id }}" method="post" role="form">
    <div class="text-center mb-4 pb-lg-2">
        <em class="text-white">Universidad Nacional de Loja</em>
        <h2 class="text-white">Generar Factura</h2>
    </div>
    <div class="booking-form-body container col">
        <div class="row">
            <!-- Primera columna -->
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="text-white-50">
                    <p class="text-white">Factura</p>
                </div>
                <div>
                    <input type="date" name="fecha" id="fecha" class="form-control" placeholder="Fecha de emisión" required >
                    <input type="text" name="NComprobante" id="NComprobante" class="form-control" placeholder="N° de Comprobante" required>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="text-white-50">
                    <p class="text-white">Datos Personales</p>
                </div>
                <div>
                    <input type="text" name="" id="nombre" value='{{ data._nombre }}' class="form-control" placeholder="Nombre" required readonly>
                    <input type="text" name="" id="apellidos" value='{{ data._apellidos }}' class="form-control" placeholder="Apellidos" required readonly>
                    <input type="text" name="dni" id="dni" class="form-control" value='{{ data._dni }}' placeholder="RUC" required readonly>
                    <input type="text" name="" id="" class="form-control" value='{{ data._tipoIdentificacion }}' placeholder="RUC" required readonly>
                    
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="text-white-50">
                    <p class="text-white">Contacto</p>
                </div>
                <div>
                    <input type="text" name="" id="telefono" class="form-control" placeholder="Teléfono"  value='{{ data._telefono }}'   required readonly>
                    <input type="text" name="" id="correo" class="form-control"  value='{{ data._correo }}' placeholder="Correo" required readonly>
                    <input type="text" name="" id="direccion" class="form-control" placeholder="Direccion"  value='{{ data._direccion }}' required readonly>
                </div>
            </div>
        </div>
        <br>
        <table class="text-bg-dark" style="border-collapse: collapse; width: 100%; border: 1px solid #000;">
            <thead>
                <tr class="text-bg-light text-center" style="background-color: #f0f0f0;">
                    <th colspan="2">Detalle de la Factura</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td>Sub Total:</td>
                    <td>
                        <input type="number" min="0" oninput="actualizarTotal()" name="subtotal" id="subtotal" class="form-control" placeholder="Subtotal" required style="width: 100%; padding: 5px;">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><strong>IVA</strong></td>
                    <td>
                        <select onchange="actualizarTotal()" class="form-control" name="iva" id="iva" required style="width: 100%; padding: 5px;">
                            <option value="" class="form-control text-bg-dark">Seleccione</option>
                            <option value="0" class="form-control text-bg-dark">0%</option>
                            <option value="0.12" class="form-control text-bg-dark">12%</option>
                            <option value="0.14" class="form-control text-bg-dark">14%</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><strong>Total</strong></td>
                    <td><strong><input type="number" name="total" id="total" class="form-control"  placeholder="Total" required readonly></strong></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center mt-4">
        <button type="submit" class="btn btn-primary">Generar Factura</button>

    </div>
</form>


<a href='/cliente/detalle/{{data._id}}' class="btn btn-primary">Volver</a>


{% endblock %}
{% block script %}

    <script>
        // Function to update total based on subtotal and VAT
        function actualizarTotal() {
            let subtotal = parseFloat(document.getElementById('subtotal').value) || 0;
            let iva = parseFloat(document.getElementById('iva').value) || 0;
            
            let total = subtotal * (1 + iva);
            document.getElementById('total').value = total.toFixed(2); // Fixing to 2 decimal places
        }
    </script>

{% endblock %}