{% extends 'template.html' %}

{% block content %}
    <section class="custom-video booking-form text-center" action="#" method="post" role="form">
        <div class="text-center mb-4 pb-lg-2">
            <em class="text-white">Universidad Nacional de Loja</em>
            <h2 class="text-white">Sistema de Retenciones - Cliente</h2>
            <a href="personas/formulario" class="btn custom-btn custom-border-btn">Registrarme</a>
            <a href="#" class="btn custom-btn custom-border-btn">Bienvenido Cliente</a>
        </div>
    </section>
{% endblock %}
