<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}Retenciones{% endblock %}</title>
        <style>{% block style %}{% endblock %}</style>
        <!-- CSS FILES -->                
        <link rel="preconnect" href="https://fonts.googleapis.com">

        <link href="https://cdn.datatables.net/v/dt/dt-2.0.7/datatables.min.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,400;0,600;0,700;1,200;1,700&display=swap" rel="stylesheet">
            
        <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">

        <link href="{{ url_for('static', filename='css/bootstrap-icons.css')}}" rel="stylesheet">

        <link href="{{ url_for('static', filename='css/vegas.min.css')}}" rel="stylesheet">

        <link href="{{ url_for('static', filename='css/tooplate-barista.css')}}" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        

    </head>
    
    <body class="reservation-page">
                
            <main>
                <section class="booking-section section-padding">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-10 col-12 mx-auto">
                            <div class="booking-form-wrap align-bottom-center">
                                <div class="row">
                                    

                                  {% block content %}
                                    <section class="custom-video booking-form text-center"  action="#" method="post" role="form">
                                        <div class="text-center mb-4 pb-lg-2">
                                            <em class="text-white">Universidad Nacional de Loja</em>
                                            <h2 class="text-white">Sistema de Retenciones</h2>
                                            <p  class="text-white">Este es un sistema creado con la finalidad de realizar retenciones de una factura emitida
                                                por una persona. 
                                            </p>
                                            <a href="clientes" class="btn custom-btn custom-border-btn">Eh creado mi usuario</a>
                                            <a href="nuevo_cliente" class="btn custom-btn custom-border-btn">Soy nuevo</a>
                                        </div>
                                    </section>

                                  
                                  {% endblock %}
                                  {% with messages = get_flashed_messages() %}
                                    {% if messages %}
                                        <ul class='text-center text-bg-info'>
                                            {% for message in messages %}
                                                <li class='text-light'>{{ message }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                  {% endwith %}
                                    
                                </div>
                            </div>

                        </div>
                    </div>
                </section>
            </br></br>

                <footer class="site-footer blockquote-footer position-relative fixed-bottom">
                    <div class="container">
                        <div class="row">

                            <div class="col-lg-4 col-12 me-auto">
                                <em class="text-white d-block mb-4">Contactame</em>

                                <strong class="text-white">
                                    <i class="bi-geo-alt me-2"></i>
                                    Universidad Nacional de Loja, Ecuador
                                </strong>

                                <ul class="social-icon mt-4">
                                    
        
                                    <li class="social-icon-item">
                                        <a href="https://x.com/3steban_4guilar" target="_new" class="social-icon-link bi-twitter">
                                        </a>
                                    </li>

                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-whatsapp">
                                        </a>
                                    </li>
                                </ul>
                            </div>

                    </div>
                </footer>
            </main>

 
            
        <!-- JAVASCRIPT FILES -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdn.datatables.net/v/dt/dt-2.0.7/datatables.min.js"></script>
        <script>
            $(document).ready( function () {
                $('#tabla').DataTable();
            } );
        </script>
        <script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
        <script src="{{ url_for('static', filename='js/jquery.sticky.js')}}"></script>
        <script src="{{ url_for('static', filename='js/vegas.min.js')}}"></script>
        <script src="{{ url_for('static', filename='js/custom.js')}}"></script>
        {% block script %}{% endblock %}
    </body>
</html>