{% extends "template.html" %}

{% block content %}
<section class="custom-video booking-form text-center">
    <div class="text-center mb-4 pb-lg-2">
        <em class="text-white">Universidad Nacional de Loja</em>
        <h2 class="text-white">Parques Registrados</h2>
        <a href="/" class="btn custom-btn custom-border-btn">Regresar</a>
    </div>

    <div class="booking-form-body">
        <div class="table-responsive">
            <table id="tabla">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Direccion</th>
                        <th>Ubicacion</th>
                        <th>Detalle</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in parque %}
                    <tr>
                        <td>{{ i.nombre }}</td>
                        <td>{{ i.direccion }}</td>
                        <td>{{ i.ubicacion }}</td>
                        <td>{{ i.detalle }}</td>
                        <td>
                            <a href="editar_parque/{{ i.id }}" class="custom-btn custom-border-btn btn-sm" style='padding: 4px 8px; font-size: 12px;'>Editar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}
